.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

@media (max-width: 1024px) {
  .container {
    padding: 0 28px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 16px;
  }
}
