.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--color-bg);
}

.inner {
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  margin: 0 auto;
  /* padding: 0 var(--container-padding); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:relative
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-soft);
}

.logo svg {
  width: 100%;
  height: 100%;
  display: block;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menuList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.menuLink {
  position: relative;
  color: var(--color-text-muted);
  font-size: 16px;
  font-weight: 800;
  letter-spacing: -0.03em;
  padding: 25px 0;
}

.menuLink:hover {
  color: var(--color-primary);
}

/* .active {
  color: var(--color-primary);
}

.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 16px;
  width: 18px;
  height: 3px;
  border-radius: var(--radius-full);
  background: var(--color-primary);
  transform: translateX(-50%);
} */
.login_wrap{
  display:flex;
  gap:0 15px ;
  position: absolute;
  right:0;
  color: var(--color-text-muted);
  font-size: 16px;
}
.login_wrap > li > span{
  font-weight: bold;
}